<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BE260A16A0CE7F35958E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A72D5FA3E9427667A8831D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C15D57593E70AEEFE33308F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71665C6627798BD8F3C6E09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBEBEB590062C9C08543094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D7357E291811922B747401D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97019536C54C69922637ED54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C6D628DEF83BD3D40540F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
